.container {
  .main .title h4 {
    line-height: 24px;
    border-left: 2px solid @PRIMARY_COLOR;
    padding-left: 10px;
    color: #444;
    font-size: 16;
  }
  .full {
    .top-bar {
      // height: 26px;
      // line-height: 26px;
      padding: 10px 0;
      border-bottom: 1px solid #eee;
      margin-bottom: 15px;
    }
  }
}
