// 基础列表/基础表单的样式

.base-list {
  .tools {
    margin-bottom: 10px;
    .search {
      max-width: 240px;
    }
    .right {
      button + button {
        margin-left: 10px;
      }
    }
  }

  .ivu-page {
    margin: 10px 0;
  }
}

.ivu-table {
  margin-bottom: 15px;
  min-height: 60%;
  .ivu-table-header {
    font-weight: 500;
    color: #333;
    border-radius: 8px;
  }
//   .ivu-table-body {
//       min-height: 350px;
//   }
}
